<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments :: common_head ('')"></th:block>
  </head>
  <body>
    <nav th:replace="fragments :: header('')"></nav>
    <th:block th:replace="fragments :: sidebar('detail')" />
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div style="height:20px"></div>
      <div class="col-md-10">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Events
              <select id="week" class="pull-right" style="color:black">
                <option selected="selected" value="all">All</option>
                <option th:each="i : ${#numbers.sequence(0, 16)}" th:value="${i}" th:text="${'Week '+i}">
                </option>
              </select>
            </h3>
          </div>
          <div class="panel-body" id="actions" style="height:720px">
            <div class="loading">Loading...</div>
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
    
    <th:block th:replace="fragments :: scripts" />
    <script>
      $(function() {
    	  $.ajax({
    		  type: "get",
    		  url: "/detail/actions/all",
    		  success: function(response) {
    			  $('.loading').hide();
    			  nv.addGraph(function() {
    				    var data = response;
    				    var chart = nv.models.stackedAreaChart()
    	                .clipEdge(true)
    	                .useInteractiveGuideline(true);
    				    
    				    chart.xAxis
    				    .showMaxMin(false)
    				    .tickFormat(function(d) {
    				      return d3.time.format('%x')(new Date(d))
    				    });

    				    chart.yAxis
    				      .tickFormat(d3.format(',f'));
    				    
    				    d3.select('#actions svg')
    				      .datum(data)
    				      .transition().duration(500)
    				      .call(chart);
    				    nv.utils.windowResize(chart.update);
    	    		    return chart;
    	    		});
    		  }
    	  });
    	  
    	  $('#week').change(function() {
    		  $('#actions svg').html("");
    		  $('.loading').show();
    		  $.ajax({
        		  type: "get",
        		  url: "/detail/actions/"+$('#week').val(),
        		  success: function(response) {
        			  $('.loading').hide();
        			  nv.addGraph(function() {
        				    var data = response;
        				    var chart;
        				    if ($('#week').val() == 'all') {
        				    	chart = nv.models.stackedAreaChart()
            	                .clipEdge(true)
            	                .useInteractiveGuideline(true);
        				    }
        				    else {
        				    	chart = nv.models.multiBarChart()
        				    	.x(function(d) { return d.x })
    				       		.y(function(d) { return d.y });
        				    }
        				    
        				    chart.xAxis
        				    .showMaxMin(false)
        				    .tickFormat(function(d) {
        				      return d3.time.format('%x')(new Date(d))
        				    });

        				    chart.yAxis
        				      .tickFormat(d3.format(',f'));
        				    
        				    d3.select('#actions svg')
        				      .datum(data)
        				      .transition().duration(500)
        				      .call(chart);
        				    nv.utils.windowResize(chart.update);
        	    		    return chart;
        	    		});
        		  }
    		  });
    	  });
      })
    </script>
  </body>
</html>