<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:fragment="common_head (title)">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><th:block th:if="${title} != ''" th:text="${title} + ' - '"></th:block>Student Dashboard</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="stylesheet" href="../css/nv.d3.css" />
  </th:block>
</head>
<body>
  <nav th:fragment="header (item)" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"
          data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span> <span
            class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">Dashboard</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <th:block th:if="${session.user}">
            <li><a href="#" th:text="${session.user}"></a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
          </th:block>
        </ul>
      </div>
    </div>
  </nav>
  <th:block th:fragment="sidebar (section)">
    <div class="container-fluid">
      <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li th:class="${section} == 'summary' ? 'active' : ''"><a th:href="@{/}">Summary</a></li>
            <li th:class="${section} == 'detail' ? 'active' : ''"><a th:href="@{/detail}">Detail</a></li>
            <li th:class="${section} == 'exco' ? 'active' : ''"><a th:href="@{/exco}">Exco</a></li>
            <li th:class="${section} == 'video' ? 'active' : ''"><a th:href="@{/embedded-video}">Embedded Video</a></li>
          </ul>
        </div>
    </div>
  </th:block>
  <th:block th:fragment="scripts">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../js/bootstrapValidator.min.js"></script>
    <script src="../js/d3.min.js"></script>
    <script src="../js/nv.d3.min.js"></script>
  </th:block>
</body>
</html>